*{
    font-family: Arial;
    align-content: center;
    background-color: black;
    color: white;
}

table, th, td{
    border: 2px solid white;
    border-spacing: 0px;
}

.titre{
 font-weight: 900;
 font-size: 5pc;
 text-align: center;
}

th,td{
    padding: 20px;
}

.play_game {
  background-color:#543fdd;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Segoe UI","Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 70px;
  padding: 0 25px;
  text-align: center;
  transition: 1s;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.play_game:hover {
  background-color: #4c4381;
  transition: 1s;
}